argon2_cffi==21.2.0
attr==0.3.2
attrs==25.3.0
beautifulsoup4==4.13.4
colorama==0.4.6
ConfigParser==7.2.0
cryptography==42.0.8
docutils==0.21.2
dominate==2.9.1
Fabric==3.2.2
filelock==3.18.0
flasgger==0.9.7.1
Flask==3.1.1
Flask_Login==0.6.3
flask_nav3==0.7.2
HTMLParser==0.0.2
imgkit==1.2.3
ipython==9.0.2
ipywidgets==8.1.7
keyring==25.6.0
paramiko==3.5.1
Pillow==11.2.1
protobuf==6.31.1
pyOpenSSL==25.0.0
redis==6.1.0
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
Werkzeug==3.1.3
lxml==5.3.1
