{% extends "skeleton.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Log Into CPM</p>
          </header>
          <div class="card-content">
            <form action="{{ url_for('gui_login') }}" method="post">
              <div class="field">
                <label class="label">username</label>
                <div class="control">
                  <input class="input" type="text" name="username" placeholder="admin">
                </div>
              </div>

              <div class="field">
                <label class="label">password</label>
                <div class="control">
                  <input class="input" type="password" name="password" placeholder="********">
                </div>
              </div>

              <input type="submit" value="Log In" class="button is-link">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
